Repository anilpotu/codebase: changes, and which GitLab CI jobs are due for each by the changed paths.
All: grpc-enterprise-v3, secure-distributed-system

grpc-enterprise-v3:
  stage: trigger
  trigger:
    include: grpc-enterprise-v3/.gitlab-ci.yml
    strategy: depend

secure-distributed-system:
  stage: trigger
  trigger:
    include: secure-distributed-system/.gitlab-ci.yml
    strategy: depend

Deployment steps
  deployment/README.md
  deployment/environments/dev/grpc-enterprise-values.yaml
  deployment/environments/dev/secure-distributed-values.yaml
  deployment/environments/prod/grpc-enterprise-values.yaml
  deployment/environments/prod/secure-distributed-values.yaml
  deployment/environments/staging/grpc-enterprise-values.yaml
  deployment/environments/staging/secure-distributed-values.yaml
  deployment/scripts/01-build.sh
  deployment/scripts/02-docker-push.sh
  deployment/scripts/03-terraform.sh
  deployment/scripts/04-k8s-setup.sh
  deployment/scripts/05-helm-deploy.sh
  deployment/scripts/06-verify.sh
  deployment/scripts/teardown.sh
Due: none

Script changes
  deployment/scripts/02-docker-push.sh
  deployment/scripts/04-k8s-setup.sh
  secure-distributed-system/.gitlab-ci.yml
Due: secure-distributed-system

Build issues
  deployment/README.md
  deployment/scripts/02-docker-push.sh
  grpc-enterprise-v3/financial-service/Dockerfile
  grpc-enterprise-v3/health-service/Dockerfile
  grpc-enterprise-v3/social-service/Dockerfile
  grpc-enterprise-v3/user-grpc-service/Dockerfile
  secure-distributed-system/api-gateway/Dockerfile
  secure-distributed-system/auth-service/Dockerfile
  secure-distributed-system/config-server/Dockerfile
  secure-distributed-system/eureka-server/Dockerfile
  secure-distributed-system/order-service/Dockerfile
  secure-distributed-system/product-service/Dockerfile
  secure-distributed-system/user-service/Dockerfile
Due: grpc-enterprise-v3, secure-distributed-system

Changes
  grpc-enterprise-v3/financial-service/Dockerfile
  grpc-enterprise-v3/financial-service/src/main/resources/application.yml
  grpc-enterprise-v3/health-service/Dockerfile
  grpc-enterprise-v3/health-service/src/main/resources/application.yml
  grpc-enterprise-v3/social-service/Dockerfile
  grpc-enterprise-v3/social-service/src/main/resources/application.yml
  grpc-enterprise-v3/user-grpc-service/Dockerfile
  grpc-enterprise-v3/user-grpc-service/src/main/resources/application.yml
  secure-distributed-system/config-server/src/main/resources/application.yml
  secure-distributed-system/docker-compose.yml
Due: grpc-enterprise-v3, secure-distributed-system

Unit test case changes
  userservice/financial-service/src/test/java/com/enterprise/financial/controller/AccountControllerTest.java
  userservice/financial-service/src/test/java/com/enterprise/financial/service/FinancialServiceTest.java
  userservice/health-service/src/test/java/com/enterprise/health/controller/HealthRecordControllerTest.java
  userservice/health-service/src/test/java/com/enterprise/health/service/HealthServiceTest.java
  userservice/social-service/src/test/java/com/enterprise/social/controller/ConnectionControllerTest.java
  userservice/social-service/src/test/java/com/enterprise/social/controller/PostControllerTest.java
  userservice/social-service/src/test/java/com/enterprise/social/controller/ProfileControllerTest.java
Due: none

Changes
  README.md
  deployment/README.md
  deployment/scripts/run-local.sh
  secure-distributed-system/product-service/README.md
  userservice/README.md
  userservice/api-gateway/Dockerfile
  userservice/api-gateway/pom.xml
  userservice/api-gateway/src/main/java/com/secure/gateway/ApiGatewayApplication.java
  userservice/config-server/Dockerfile
  userservice/docker-compose.yml
  userservice/financial-service/src/main/resources/bootstrap.yml
  userservice/health-service/src/main/resources/bootstrap.yml
  userservice/order-service/Dockerfile
  userservice/order-service/pom.xml
  userservice/order-service/src/main/java/com/secure/order/OrderServiceApplication.java
  userservice/order-service/src/main/resources/bootstrap.yml
  userservice/product-service/Dockerfile
  userservice/product-service/README.md
  userservice/product-service/pom.xml
  userservice/product-service/src/main/java/com/secure/product/ProductServiceApplication.java
  userservice/product-service/src/main/resources/bootstrap.yml
  userservice/run-local.sh
  userservice/user-grpc-service/src/main/resources/bootstrap.yml
  userservice/user-grpc-service/src/main/resources/db/migration/V1__create_users.sql
  userservice/user-service/Dockerfile
  userservice/user-service/pom.xml
  userservice/user-service/src/main/java/com/secure/user/UserServiceApplication.java
Due: secure-distributed-system

Changes
  userservice/api-gateway/src/main/java/com/secure/gateway/config/SecurityConfig.java
  userservice/api-gateway/src/main/java/com/secure/gateway/filter/JwtAuthenticationFilter.java
  userservice/auth-service/src/main/resources/db/migration/V1__init_schema.sql
  userservice/config-repo/eureka-server.yml
Due: none

Changes
  userservice/api-gateway/src/main/java/com/secure/gateway/config/SwaggerConfig.java
  userservice/api-gateway/src/main/java/com/secure/gateway/filter/JwtAuthenticationFilter.java
  userservice/config-repo/api-gateway.yml
  userservice/user-service/src/main/java/com/secure/user/controller/UserController.java
  userservice/user-service/src/main/java/com/secure/user/service/UserService.java
Due: none

Changes
  .claude/settings.json
  deployment/README.md
  deployment/scripts/07-k8s-local-deploy.sh
  userservice/api-gateway/src/main/java/com/secure/gateway/filter/JwtAuthenticationFilter.java
  userservice/config-repo/api-gateway.yml
  userservice/enterprise-ui/src/api/userProfileApi.js
  userservice/enterprise-ui/src/pages/ServiceHealthPage.jsx
  userservice/k8s/00-namespace.yaml
  userservice/k8s/01-secrets.yaml
  userservice/k8s/02-config-repo-configmap.yaml
  userservice/k8s/03-postgres.yaml
  userservice/k8s/04-redis.yaml
  userservice/k8s/05-config-server.yaml
  userservice/k8s/06-eureka-server.yaml
  userservice/k8s/07-auth-service.yaml
  userservice/k8s/08-user-service.yaml
  userservice/k8s/09-order-service.yaml
  userservice/k8s/10-product-service.yaml
  userservice/k8s/11-api-gateway.yaml
  userservice/k8s/12-user-grpc-service.yaml
  userservice/k8s/13-financial-service.yaml
  userservice/k8s/14-health-service.yaml
  userservice/k8s/15-social-service.yaml
  userservice/k8s/16-enterprise-ui.yaml
  userservice/k8s/deploy.sh
  userservice/product-service/src/main/java/com/secure/product/config/SecurityConfig.java
  userservice/product-service/src/main/java/com/secure/product/controller/ProductController.java
  userservice/user-service/src/main/java/com/secure/user/controller/UserController.java
Due: none

Changes
  .claude/settings.json
  userservice/enterprise-ui/src/App.jsx
Due: none

changes
  .claude/settings.local.json
  deployment/scripts/03-terraform.sh
  deployment/scripts/05-helm-deploy.sh
  deployment/scripts/06-verify.sh
  deployment/scripts/teardown.sh
  userservice/AWS-SETUP.md
  userservice/enterprise-ui/src/App.jsx
  userservice/k8s/05-config-server.yaml
  userservice/k8s/06-eureka-server.yaml
  userservice/k8s/07-auth-service.yaml
  userservice/k8s/08-user-service.yaml
  userservice/k8s/09-order-service.yaml
  userservice/k8s/10-product-service.yaml
  userservice/k8s/11-api-gateway.yaml
  userservice/k8s/12-user-grpc-service.yaml
  userservice/k8s/13-financial-service.yaml
  userservice/k8s/14-health-service.yaml
  userservice/k8s/15-social-service.yaml
  userservice/k8s/16-enterprise-ui.yaml
  userservice/terraform/ecr.tf
  userservice/terraform/eks.tf
  userservice/terraform/elasticache.tf
  userservice/terraform/main.tf
  userservice/terraform/outputs.tf
  userservice/terraform/rds.tf
  userservice/terraform/security.tf
  userservice/terraform/variables.tf
  userservice/terraform/vpc.tf
Due: none

changes
  deployment/environments/dev/userservice-terraform.tfvars
  deployment/scripts/03-terraform.sh
  userservice/.gitignore
  userservice/k8s/deploy-eks.sh
  userservice/k8s/deploy.sh
  userservice/k8s/eks/00-namespace.yaml
  userservice/k8s/eks/02-config-repo-configmap.yaml
  userservice/k8s/eks/03-rds-init-job.yaml
  userservice/k8s/eks/04-config-server.yaml
  userservice/k8s/eks/05-eureka-server.yaml
  userservice/k8s/eks/06-auth-service.yaml
  userservice/k8s/eks/07-user-service.yaml
  userservice/k8s/eks/08-order-service.yaml
  userservice/k8s/eks/09-product-service.yaml
  userservice/k8s/eks/10-api-gateway.yaml
  userservice/k8s/eks/11-user-grpc-service.yaml
  userservice/k8s/eks/12-financial-service.yaml
  userservice/k8s/eks/13-health-service.yaml
  userservice/k8s/eks/14-social-service.yaml
  userservice/k8s/eks/15-enterprise-ui.yaml
  userservice/terraform/eks.tf
  userservice/terraform/rds.tf
  userservice/terraform/variables.tf
Due: none

Path conditions:
  grpc-enterprise-v3: any of: grpc-enterprise-v3/**/*, grpc-enterprise-v3/.gitlab-ci.yml
  secure-distributed-system: any of: secure-distributed-system/**/*, secure-distributed-system/.gitlab-ci.yml
